.itemActionIcon {
	position: relative;
	left: -2px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 0 0;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.itemActionIcon.edit, .itemActionIcon.update {
	background-image: url('../../../images/Change.svg');
}

.itemActionIcon.add {
	background-image: url('../../../images/New.svg');
}

.itemActionIcon.delete {
	background-image: url('../../../images/Delete.svg');
}

.errorMessage {
	position: absolute;
	cursor: default;
	top: 1px;
	right: 1px;
	width: 7px;
	bottom: -3px;
	background-color: #C96A59;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	color: #FFFFFF;
}

.errorMessage:hover {
	background-color: #D6806F;
}

.aras-rule-editor {
	padding: 10px !important;
	margin: 5px 0px 5px 5px !important;
	text-align: left;
}

.aras-rule-editor:not(.aras-rule-editor_disabled) .inputGroup:not(.focusedGroup) {
	outline: 1px dotted #C0C0C0;
}

.aras-rule-editor_disabled .grammarInputGroup .Lexem {
	background-color: transparent !important;
	color: #505050 !important;
}

.Lexem.IfLiteral {
	background-color: #2573ba;
	color: #FFFFFF;
	text-align: center;
}

.Lexem.ThenLiteral {
	background-color: #2573ba;
	color: #FFFFFF;
	text-align: center;
}

.aras-rule-editor_disabled .Lexem.IfLiteral, .aras-rule-editor_disabled .Lexem.ThenLiteral, .aras-rule-editor_disabled .Lexem.LogicOperator {
	color: #FFFFFF !important;
	background-color: #606060 !important;
}

.Lexem.LogicOperator {
	color: #FFFFFF;
	background-color: #67A350;
}

.Lexem.MacroOperator {
	color: #FFFFFF;
	background-color: #9D80A8;
}

.Lexem.NotLiteral {
	color: #FFFFFF;
	background-color: #D19458;
}

.Lexem.FamilyName {
	color: #309dff;
}

.Lexem.bracket, .Lexem.itembracket {
	color: #D0D0D0;
}

.Lexem.ValidOptionName {
	color: #505050;
}
